@import '../styles/reset.css';
@import '../styles/variables.css';
@import '../styles/typography.css';
@import '../styles/form.css';
@import '../styles/button.css';
@import '../styles/checkbox-toggle.css';

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-very-dark-grey-dark-bg: var(--color-very-dark-grey-dark-bg);
  --color-dark-grey: var(--color-dark-grey);
  --color-white: var(--color-white);
  --color-medium-grey: var(--color-medium-grey);
  --color-main-purple: var(--color-main-purple);
  --color-red: var(--color-red);
  --color-light-grey-light-bg: var(--color-light-grey-light-bg);
  --color-black: var(--color-black);
  --color-lines-dark: var(--color-lines-dark);
  --color-lines-light: var(--color-lines-light);
  --color-red-hover: var(--color-red-hover);
  --color-main-purple-hover: var(--color-main-purple-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #20212c;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif; 
}

