@import "../styles/reset.css";
@import "../styles/variables.css";
@import "../styles/typography.css";
@import "../styles/form.css";
@import "../styles/button.css";
@import "../styles/checkbox-toggle.css";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-very-dark-gray: var(--color-very-dark-gray);
  --color-very-dark-grey-dark-bg: var(--color-very-dark-grey-dark-bg);
  --color-dark-grey: var(--color-dark-grey);
  --color-white: var(--color-white);
  --color-medium-grey: var(--color-medium-grey);
  --color-main-purple: var(--color-main-purple);
  --color-red: var(--color-red);
  --color-light-grey-light-bg: var(--color-light-grey-light-bg);
  --color-black: var(--color-black);
  --color-lines-dark: var(--color-lines-dark);
  --color-lines-light: var(--color-lines-light);
  --color-red-hover: var(--color-red-hover);
  --color-main-purple-hover: var(--color-main-purple-hover);
  --color-very-light-gray: var(--color-very-light-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-chk-switch: var(--color-main-purple);
    --bg-chk-round: var(--color-white);

    --background: var(--color-black);
    --background-secondary: var(--color-dark-grey);
    --foreground: var(--color-white);

    --heading-color: var(--color-muted-blue-gray);

    --button-primary-bck: var(--color-main-purple);
    --button-primary-color: var(--color-white);
    --button-primary-bck-hover: var(--color-main-purple-hover);

    --button-secundary-bck: var(--color-white);
    --button-secundary-bck-hover: var(--color-white);
    --button-secundary-color: var(--color-purple-blue);

    --button-destructive-bck: var(--color-red);
    --button-destructive-bck-hover: var(--color-red-hover);
    --button-destructive-color: var(--color-white);

    --color-error: var(--color-red);
    --color-label: var(--color-light-grey-light-bg);

    --input-border: var(--color-your-shadow);
    --input-color: var(--color-white);

    --checkbox: var(--color-very-dark-blue-gray);
    --checkbox-border: var(--color-very-dark-blue-gray);
    --checbox-checked: var(--color-purple-blue);
    --checkbox-bck: var(--color-very-dark-gray);
    --checkbox-bck-hover: var(--color-soft-pastel-purple);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-chk-switch: var(--color-main-purple);
    --bg-chk-round: var(--color-white);

    --background: var(--color-white);
    --background-secondary: var(--color-light-grey-light-bg);
    --foreground: var(--color-black);

    --heading-color: var(--color-muted-blue-gray);

    --button-primary-bck: var(--color-main-purple);
    --button-primary-color: var(--color-white);
    --button-primary-bck-hover: var(--color-main-purple-hover);

    --button-secundary-bck: var(--color-very-light-bluish-lavender);
    --button-secundary-bck-hover: var(--color-soft-pastel-purple);
    --button-secundary-color: var(--color-purple-blue);

    --button-destructive-bck: var(--color-red);
    --button-destructive-bck-hover: var(--color-red-hover);
    --button-destructive-color: var(--color-white);

    --color-error: var(--color-red);
    --color-label: var(--color-medium-grey);

    --input-border: var(--color-medium-grey);
    --input-color: var(--color-white);

    --checkbox: var(--color-white);
    --checkbox-border: var(--color-dark-cool-gray);
    --checbox-checked: var(--color-purple-blue);
    --checkbox-bck: var(--color-cool-blue-gray);
    --checkbox-bck-hover: var(--color-dark-muted-blue-purple);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;

  transition: background 0.3s ease, color 0.3s ease;
}
