.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 24px;

  border: 1px solid transparent;
  cursor: pointer;

  gap: 10px;

  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-13);
  line-height: 1;
  letter-spacing: 0;

  min-height: 40px;
}

.button--primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bck);
}

.button--primary:is(:hover, :active) {
  background-color: var(--button-primary-bck-hover);
}

.button--secondary {
  background-color: var(--button-secundary-bck);
  color: var(--button-secundary-color);
}

.button--secondary:is(:hover, :active) {
  background-color: var(--button-secundary-bck-hover);
}

.button--destructive {
  background-color: var(--button-destructive-bck);
  color: var(--button-destructive-color);
}

.button--destructive:is(:hover, :active) {
  background-color: var(--button-destructive-bck-hover);
}

.button--secondary:disabled,
.button--primary:disabled,
.button--destructive:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (min-width: 48em) {
  .button {
    font-size: var(--fs-15);
    min-height: 48px;
  }
}
