@reference "tailwindcss";

.board-header {
}

.menu-item {
  @apply w-full px-4 py-2 text-left hover:bg-gray-100;
}

.board-header__logo {
  width: 16.3125rem;
  height: 6rem;
  display: none;
}

.board-header__add_task {
  height: 2rem;
}

.board-header__add_task span:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 48em) {
  .board-header__chevron {
    display: none;
  }

  .board-header__platform {
    font-size: 1.25rem;
  }

  .board-header__add_task {
    height: 3rem;
  }

  .board-header__add_task span:nth-of-type(2) {
    display: inline-block;
  }

  .board-header__logo-mobile {
    display: none;
  }

  .board-header__logo {
    display: flex;
  }
}
